/*************************
STRUCTURING & TAG DEFAULTS
*************************/

/*PAGE STRUCTURING*/

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.container {
  min-height: 100%;
  position: relative;
}
header {
  background: red;
  padding: 10px;
}
main {
 padding: 10px;
 padding-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background: red;
}

/*TAG DEFAULTS*/
